
.home {
    /* background-image:url('/public/pattern.jpg'); */
    background-image: url('/public/pattern.jpg'); 
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    overflow: hidden;
     background-color: #2B3169 ;

}
.home_1{

   
    
    height:600px;
    width:60%;
    /* overflow:hidden ; */

}
.home_2{
   
  background-color: #2B3169;


   
}

img{
/*     
    width: auto;
    height: auto; */
    object-fit: cover;
    z-index:1
}

.man{
    width :40%;
    overflow:clip;
}
 
.girl{
    width:50%;
    height:600px;
    position:relative;
    left:300px;

}

.home_info {
    position:absolute;
    font-size: 40px;
    width:500px;
    padding:10px;
    top:90%;
    left: 10%;
    background-color:rgb(122, 77, 77);
    color:white;
    z-index:1
}
.methodes {

    height:1500px;
    color:aliceblue
}

.pattern-component {
    width:45%;
    height:40%;
    background-image: ;
}

.form-info {

    background-image:url('/public/pattern.jpg');
    background-size: cover;

    
}



.component {
    width:50%;
    height: 50%;
}


.icone {
    width:75%;
    height: 75%;
}
.activities .row {
    height: 500px;
}

.img_act {
   width:80%;
   height: 80%;
   object-fit: contain;
}