
$mainColor:#03697d;
$accentColor:rgba(37, 36, 37, 0.158);
$accentDanger :rgba(16, 74, 82, 0.548);
$secondAccent : #f28e27;


$primary:       $mainColor;
$secondary:     $accentColor;
$info:$secondAccent;
$danger : $accentDanger;

$spacer: 2rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6:$spacer * 6,

) !default;





@import "../../node_modules/bootstrap/scss/bootstrap.scss";